{% extends "base.html" %}

{% block main%}

{% load myfilter %}

{% if user.is_superuser %}

    <style>
        #social-icon a { margin: 0 5px 5px 0; padding: 0; color: #fff; }
        #social-icon i { width: 50px; height: 50px; margin: 0; border-radius: 50%; background: #698aab; line-height: 50px; text-align: center; }
        #social-icon i:before { padding: 0; line-height: 50px; }
        #social-icon a:hover i { background: #84a2d4; }
    </style>

    <div id="social-icon" class="clear row" style="text-align:center; margin-bottom:30px">
        <div class="col-sm-3 col-xs-3"><a data-toggle="modal" data-target="#myModalEdit"><i class="fa fa-pencil fa-2x"></i></a></div>
        <div class="col-sm-3 col-xs-3"><a data-toggle="modal" data-target="#myModalSort"><i class="fa fa-sort fa-2x"></i></a></div>
        <div class="col-sm-3 col-xs-3"><a data-toggle="modal" data-target="#myModalSearch"><i class="fa fa-search fa-2x" ></i></a></div>
        <div class="col-sm-3 col-xs-3"><a data-toggle="modal" data-target="#myModalTags"><i class="fa fa-tags fa-2x"></i></a></div>
    </div>

    <!-- 追加ダイアログ -->
    <form method="post" action="{% url 'add_memo' %}">
        {% csrf_token %}
        <div class="modal fade" id="myModalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" style="background-color:whitesmoke">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">_mondja_py_( ..)φ</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="id_title">Title:</label>
                            <input id="id_title" class="form-control" maxlength="200" name="title" type="text" placeholder="Type a title" autofocus required />
                        </div>
                        <div class="form-group">
                            <label for="id_tags">Tags:</label>
                            <input id="id_tags" class="form-control" maxlength="200" name="tags-text" type="text" placeholder="Type a tags" />
                        </div>
                        <div class="form-group">
                            <label for="id_content">Text:</label>
                            <textarea cols="75" id="id_content" class="form-control" name="content" rows="12" style="resize:vertical" placeholder="Type a comment" required ></textarea>
                        </div>
                        <input type="hidden" name="user" value="{{user.id}}" id="id_user" />
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-xs-4 col-md-2 pull-right">
                                <button type="button" class="btn btn-default" data-dismiss="modal" style="width:80px;"><i class="fa fa-times"></i>Cancel</button>
                            </div>
                            <div class="col-xs-4 col-md-2 pull-right">
                                <button type="submit" class="btn btn-success" style="width:80px;"><i class="fa fa-save"></i>Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- ソートダイアログ -->
    <form method="get" action="{% url 'memo' %}">
        {% csrf_token %}
        <div class="modal fade" id="myModalSort" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" style="background-color:whitesmoke">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">_mondja_py_( ..)φ</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row" style="margin-bottom: 10px">
                            <select class="selectpicker col-md-8 pull-left" data-style="btn-primary" name="item1">
                                <option value=""></option>
                                <option value="title">タイトル</option>
                                <option value="pub_date">日付</option>
                                <option value="user">ユーザ</option>
                            </select>
                            <div class="btn-group col-md-3 pull-left" data-toggle="buttons" name="togl-item1">
                                <label class="btn btn-default active">
                                    <input type="radio" name="asc1" id="option1" checked><i class="fa fa-sort-amount-asc fa-fw"></i>
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" name="desc1" id="option2"><i class="fa fa-sort-amount-desc fa-fw"></i>
                                </label>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 10px">
                            <select class="selectpicker col-md-8 pull-left" data-style="btn-info" name="item2">
                                <option value=""></option>
                                <option value="title">タイトル</option>
                                <option value="pub_date">日付</option>
                                <option value="user">ユーザ</option>
                            </select>
                            <div class="btn-group col-md-3 pull-left" data-toggle="buttons">
                                <label class="btn btn-default active">
                                    <input type="radio" name="asc2" id="option1" checked><i class="fa fa-sort-amount-asc fa-fw"></i>
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" name="desc2" id="option2"><i class="fa fa-sort-amount-desc fa-fw"></i>
                                </label>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 10px">
                            <select class="selectpicker col-md-8 pull-left" data-style="btn-warning" name="item3">
                                <option value=""></option>
                                <option value="title">タイトル</option>
                                <option value="pub_date">日付</option>
                                <option value="user">ユーザ</option>
                            </select>
                            <div class="btn-group col-md-3 pull-left" data-toggle="buttons">
                                <label class="btn btn-default active">
                                    <input type="radio" name="asc3" id="option1" checked><i class="fa fa-sort-amount-asc fa-fw"></i>
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" name="desc3" id="option2"><i class="fa fa-sort-amount-desc fa-fw"></i>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-xs-4 col-md-2 pull-right">
                                <button type="button" class="btn btn-default" data-dismiss="modal" style="width:80px;"><i class="fa fa-times"></i>Cancel</button>
                            </div>
                            <div class="col-xs-4 col-md-2 pull-right">
                                <button type="submit" class="btn btn-success" style="width:80px;"><i class="fa fa-sort"></i>Sort</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" name="types" value="sort" />
    </form>

{% endif %}

{% for item in all_memo %}

    <div class="well" style="background-color: #b2cbe4">
        <h1 class="memo-header">
            <img src="{{MEDIA_URL}}identicon/{{item.user.username}}.png" class="img-rounded" width="32" style="margin-top:-6px; vertical-align:middle" />
            {{item.title}}
        </h1>
        <div class="row">
            <div class="memo-header col-md-8" style="font-size:16px; color:#556b2f; margin-top:5px; vertical-align:middle">
                <i class="fa fa-calendar fa-lg"></i> {{item.pub_date}}
            </div>

            {% if user.is_superuser %}
                <div class="memo-header col-md-4 text-right" style="font-size:16px; margin-top:5px; vertical-align:middle;">
                    <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#myModalEdit{{item.id}}"><i class="fa fa-edit fa-fw"></i></button>
                    <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#myModalDelete{{item.id}}"><i class="fa fa-trash-o fa-fw"></i></button>
                </div>
            {% endif %}

        </div>
        <hr />
        <div class="alert alert-success memo-body" role="alert" style="background-color: #eaedf7">
            {{ item.content | mark2html | safe }}
        </div>
        {% for tag in item.tags.all %}
            <span class="{{ tag.get_label_classname }}">{{ tag }}</span>
        {% endfor %}
    </div>

    <!-- 編集ダイアログ -->
    <form method="post" action="{% url 'edit_memo' item.id %}" class="col-xs-5 col-md-3 pull-right">
        {% csrf_token %}
        <div class="modal fade" id="myModalEdit{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" style="background-color:whitesmoke">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">_mondja_py_( ..)φ</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="id_title">Title:</label>
                            <input id="id_title" class="form-control" maxlength="200" name="title" type="text" value="{{item.title}}" autofocus required />
                        </div>
                        <div class="form-group">
                            <label for="id_tags">Tags:</label>
                            <input id="id_tags" class="form-control" maxlength="200" name="tags-text" type="text" placeholder="Type a tags" value="{{item.get_tags_str}}" />
                        </div>
                        <div class="form-group">
                            <label for="id_content">Text:</label>
                            <textarea cols="75" id="id_content" class="form-control" name="content" rows="12" style="resize:vertical" placeholder="Type a comment" required >{{item.content}}</textarea>
                        </div>
                        <input type="hidden" name="user" value="{{user.id}}" id="id_user" />
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-xs-4 col-md-2 pull-right">
                                <button type="button" class="btn btn-default" data-dismiss="modal" style="width:80px;"><i class="fa fa-times"></i>Cancel</button>
                            </div>
                            <div class="col-xs-4 col-md-2 pull-right">
                                <button type="submit" class="btn btn-success" style="width:80px;"><i class="fa fa-save"></i>Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- 削除確認ダイアログ -->
    <div class="modal fade" id="myModalDelete{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">_mondja_py_( ..)φ</h4>
                </div>
                <div class="modal-body">
                    <p>メモを削除してもよろしいですか？</p>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <form class="col-xs-4 col-md-2 pull-right">
                            {% csrf_token %}
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>Cancel</button>
                        </form>
                        <form method="post" action="{% url 'delete_memo' item.id %}" class="col-xs-4 col-md-2 pull-right">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger"><i class="fa fa-trash-o"></i>Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endfor%}

{% endblock %}
