.memo-header {
    font-family: 'Yu Gothic', Meiryo, sans-serif;
    font-size: 25px;
    color: #2a4073;
}

h1.memo-header {
    word-break: break-all;
}

.memo-body {
    font-size: 14px;
    color: #2a4073;
}

.memo-body h1 {
    font-size: 20px;
}

.memo-body h2 {
    font-size: 18px;
}

.memo-body h3 {
    font-size: 16px;
}

.memo-body h4 {
    font-size: 16px;
}

.memo-body h5 {
    font-size: 14px;
}

.memo-body h6 {
    font-size: 14px;
}

.memo-body img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.memo-body p {
    word-break: break-all;
}
