{% extends "base.html" %}

{% block main%}

    {% if user.is_anonymous %}
    You are not member
    {% else %}
    Hello!! {{user.username}}
    {% endif %}

    <br /><br />

    {% for item in all_posts %}

        <div class="blog-post">
            <h2 class="blog-post-title">{{item}}</h2>
            <p class="blog-post-meta">{{item.pub_date}}</p>
            <p>{{item.content | slice:"20"}}</p> 

            <a href="{% url 'detail' item.id %}">See more</a>
        </div><!-- /.blog-post -->

    {% endfor%}

{% endblock %}
