{% extends "base.html" %}

{% block main%}

    <div class="blog-post">
        <h2 class="blog-post-title">{{post.title}}</h2>
        <p class="blog-post-meta">{{post.pub_date}}</p>

        <hr />

        <div style="font-size:20px;">{{post.content | linebreaksbr}}</div> 

        <hr />
        <br />

        {% if user.is_superuser %}
        <div class="row">
            <form method="post" action="{% url 'edit_entry' post.id %}" class="col-xs-3 col-md-2">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary"><i class="fa fa-edit"></i>Edit</button>
            </form>
            <form method="post" action="{% url 'delete_entry' post.id %}" class="col-xs-3 col-md-2">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger"><i class="fa fa-trash-o"></i>Delete</button>
            </form>
        </div>
        {% endif %}

        <br />

        <div class="row">
            <div class="col-sm-12">
                <h3 style="color:#CCC;">This is expressed by <strong>{{post.get_total}}</strong> letters</h3>
            </div>
        </div>

        <div class="row" style="margin-top:30px;">
            <div class="col-sm-2 col-xs-6">
                {% if new_post %}
                    <a href="{% url 'detail' new_post.id %}">
                        <i class="fa fa-arrow-circle-left fa-lg"></i>
                        Newer
                    </a>
                {% endif %}
            </div>
            <div class="col-sm-2 col-xs-6">
                {% if old_post %}
                    <a href="{% url 'detail' old_post.id %}">
                        Older
                        <i class="fa fa-arrow-circle-right fa-lg"></i>
                    </a>
                {% endif %}
            </div>
        </div>

    </div><!-- /.blog-post -->

{% endblock %}
