{% extends "base.html" %}

{% block main%}

    <div class="blog-post">
        <h2 class="blog-post-title" style="color:#4682b4; word-break: break-all;">
            <img src="{{MEDIA_URL}}identicon/{{post.user.username}}.png" class="img-rounded" width="42" style="margin-top:-8px; vertical-align:text-bottom" />
            {{post.title}}
        </h2>
        <p class="blog-post-meta"><i class="fa fa-calendar fa-lg"></i> {{post.pub_date}}</p>

        <hr />

        <div class="blog-post-my" style="font-size:20px;">{{post.content | linebreaksbr}}</div> 

        <hr />

        {% for comment in comments %}
            <div class="alert alert-info" role="alert">
                <strong>{{comment.user}} > </strong>
                {{comment.comment}}
            </div>
        {% endfor%}

        {% ifnotequal comments.count 0 %}
            <hr />
        {% endifnotequal %}

        <br />

        {% if user.is_superuser %}

        <div class="row">
            <form method="post" action="{% url 'edit_entry' post.id %}" class="col-xs-3 col-md-2">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary" style="width:80px;"><i class="fa fa-edit"></i>Edit</button>
            </form>
            <form method="post" action="{% url 'delete_entry' post.id %}" class="col-xs-3 col-md-2">
                {% csrf_token %}
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModalDelete" style="width:80px;">
                    <i class="fa fa-trash-o"></i>Delete
                </button>
            </form>
            <form method="post" action="{% url 'comment_entry' post.id %}" class="col-xs-3 col-md-2">
                {% csrf_token %}
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModalComment" style="width:100px;">
                    <i class="fa fa-comments-o"></i>Comment
                </button>
            </form>
        </div>

        <!-- 削除確認ダイアログ -->
        <div class="modal fade" id="myModalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">_mondja_py_( ..)φ</h4>
                    </div>
                    <div class="modal-body">
                        <p>記事を削除してもよろしいですか？</p>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <form class="col-xs-4 col-md-2 pull-right">
                                {% csrf_token %}
                                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>Cancel</button>
                            </form>
                            <form method="post" action="{% url 'delete_entry' post.id %}" class="col-xs-4 col-md-2 pull-right">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger"><i class="fa fa-trash-o"></i>Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- コメント記入ダイアログ -->
        <form method="post" action="{% url 'comment_entry' post.id %}" class="col-xs-5 col-md-3 pull-right">
            {% csrf_token %}
            <div class="modal fade" id="myModalComment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">_mondja_py_( ..)φ</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group" role="form">
                                <textarea cols="75" id="id_comment" class="form-control" name="comment" rows="3" style="resize:vertical" placeholder="Type a comment" required ></textarea>
                                <input type="hidden" name="post" value="{{post.id}}" id="id_user" />
                                <input type="hidden" name="user" value="{{user.id}}" id="id_user" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-xs-4 col-md-2 pull-right">
                                    <button type="button" class="btn btn-default" data-dismiss="modal" style="width:80px;"><i class="fa fa-times"></i>Cancel</button>
                                </div>
                                <div class="col-xs-4 col-md-2 pull-right">
                                    <button type="submit" class="btn btn-success" style="width:80px;"><i class="fa fa-save"></i>Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        {% endif %}

        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <h3 class="blog-post-my" style="color:#CCC;">This is expressed by <strong>{{post.get_total}}</strong> letters.</h3>
            </div>
        </div>

        <div class="row" style="margin-top:30px;">
            <div class="col-sm-2 col-xs-4">
                {% if new_post %}
                    <a href="{% url 'detail' new_post.id %}">
                        <i class="fa fa-arrow-circle-left fa-lg"></i>Newer
                    </a>
                {% endif %}
            </div>
            <div class="col-sm-2 col-xs-4">
                {% if old_post %}
                    <a href="{% url 'detail' old_post.id %}">
                        Older<i class="fa fa-arrow-circle-right fa-lg"></i>
                    </a>
                {% endif %}
            </div>
        </div>

    </div><!-- /.blog-post -->

{% endblock %}
