{% extends "base.html" %}

{% block main%}

<h2>Edit {{post.title}}</h2>

<form class="form-inline" role="form" method="post" action=".">{% csrf_token %}

    <div class="form-group" style="padding-bottom:10px;">
        <label class="sr-only" for="id_title">Title</label>
        <input id="id_title" class="form-control" maxlength="200" name="title" type="text" placeholder="Type a title" value="{{post.title}}" required />
    </div>

    <br />

    <div class="form-group" style="padding-bottom:10px;">
        <label class="sr-only" for="id_title">Content</label>
        <textarea cols="70" id="id_content" class="form-control" name="content" rows="10" placeholder="Type a content" required >{{post.content}}</textarea>
    </div>

    <br />

    <div class="form-group">
        <button type="submit" class=" btn btn-success"><i class="fa fa-save"></i> Save</button>
    </div>

    <br /><br />

</form>

{% endblock %}
