.memo-header {
    font-family: 'Yu Gothic', Meiryo, sans-serif;
    font-size: 23px;
    color: #eaf4fc;
}

.memo-body {
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    color: #1c305c;
}

.memo-body h1 {
    font-size: 24px;
}

.memo-body h2 {
    font-size: 20px;
}

.memo-body h3 {
    font-size: 16px;
}

.memo-body h4 {
    font-size: 16px;
}

.memo-body h5 {
    font-size: 16px;
}

.memo-body h6 {
    font-size: 16px;
}
}