{% extends "base.html" %}

{% block main%}

<div class="row">
    <div class="col-sm-3 col-xs-5">
        <img src="{{STATIC_URL}}images/profile.png" width="120" class="img img-circle">
    </div>

    <div class="col-sm-9 col-xs-7" style="margin-top:45px;">
        <h1 style="font-size:30px">tsutsu</h1>
    </div>
</div>

<div class="row" style="margin-top:20px;">
    <div class="col-sm-12">
        <p>
            Welcom to _mondja_py_( ..)φ. I'm a webmaster of this site. 
            My hobby is to eat various kinds of mondja.
            Thank you for visiting my site!!
        </p>
        <pre><code># Python 3: Fibonacci series up to n
&gt;&gt;&gt; def fib(n):
&gt;&gt;&gt;     a, b = 0, 1
&gt;&gt;&gt;     while a &lt; n:
&gt;&gt;&gt;         print(a, end=' ')
&gt;&gt;&gt;         a, b = b, a+b
&gt;&gt;&gt;     print()
&gt;&gt;&gt; fib(1000)
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987</code></pre>
    </div>
</div>

<div class="row" style="margin-top:20px;">
    <div class="col-sm-3 col-xs-4"><i class="fa fa-globe"></i>Japan</div>
    <div class="col-sm-3 col-xs-4"><a href="https://www.python.org" target="_blank"><i class="fa fa-heart"></i>Python</a></div>
    <div class="col-sm-3 col-xs-4"><a href="https://github.com/y-tsutsu/mondja" target="_blank"><i class="fa fa-github"></i>GitHub</a></div>
</div>

<br />

{% endblock %}
