{% extends "base.html" %}

{% block main%}

    <div class="blog-post-title">
        {% if user.is_anonymous %}
            <p>ようこそ，お越しくださいました:-)</p>
        {% else %}
            <p>お待ちしておりました， {{user.username}} さま．</p>
        {% endif %}
    </div>

    <br /><br />

    {% for item in all_posts %}

        <div class="blog-post">
            <h4 class="blog-post-title" style="color:#4682b4;">{{item}}</h4>
            <p class="blog-post-meta"><i class="fa fa-calendar fa-lg"></i> {{item.pub_date}}</p>
            <p>{{item.content | slice:"30"}}{% if item.is_over_length %}．．．{% endif %}</p>
            <hr />
            <p style="font-size:16px; color:#556b2f;">
                This is expressed by <strong>{{item.get_total}}</strong> letters. 
                <a href="{% url 'detail' item.id %}"><i class="fa fa-eye"></i>See more</a>
            </p>
            <hr />
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="{{item.get_progress_value}}" aria-valuemin="0" aria-valuemax="100" style="width: {{item.get_progress_value}}%">
                    <span class="sr-only">{{item.get_progress_value}}% Complete</span>
                </div>
            </div>
            <hr />
        </div>

    {% endfor%}

    <!-- Paginator -->
    <div class="pagination">
        <span class="step-links">
            {% if all_posts.has_previous %}
                <a href="?page={{ all_posts.previous_page_number }}"><i class="fa fa-hand-o-left"></i>Previous</a>
            {% endif %}

            <span class="current">
                　Page {{ all_posts.number }} of {{ all_posts.paginator.num_pages }}.　
            </span>

            {% if all_posts.has_next %}
                <a href="?page={{ all_posts.next_page_number }}">Next<i class="fa fa-hand-o-right"></i></a>
            {% endif %}
        </span>
    </div>

    <!--
        <ul class="pagination">
            {% if all_posts.has_previous %}
                <li><a href="?page={{ all_posts.previous_page_number }}">Previous</a></li>
            {% endif %}

            {% for number in all_posts.paginator.page_range %}
                {% ifequal number all_posts.number %}
                    <li class="active"><a href="?page={{number}}">{{number}}</a></li>
                {% else %}
                    <li><a href="?page={{number}}">{{number}}</a></li>
                {% endifequal %}
            {% endfor %}

            {% if all_posts.has_next %}
                <li><a href="?page={{ all_posts.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
    -->

{% endblock %}
