{% extends "base.html" %}

{% block main %}

<div class="row">
    {% for item in all_images %}

        <div class="col-md-4 col-sm-4 col-xs-6">
            <img src="{{MEDIA_URL}}{{item.image}}" class="img-thumbnail" width="200">
            <h4>{{ item }}</h4>

            {% if user.is_superuser %}

                <form action='{% url "delete_image" item.id %}' method="post">
                    {% csrf_token %}
                    <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#myModal{{item.id}}">
                        <i class="fa fa-trash-o">Delete</i>
                    </button>
                </form>

                <div class="modal fade" id="myModal{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">_mondja_py_( ..)φ</h4>
                            </div>
                            <div class="modal-body">
                                <p>画像を削除してもよろしいですか？</p>
                            </div>
                            <div class="modal-footer">
                                <div class="row">
                                    <form class="col-xs-4 col-md-2 pull-right">
                                        {% csrf_token %}
                                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>Cancel</button>
                                    </form>
                                    <form method="post" action="{% url 'delete_image' item.id %}" class="col-xs-4 col-md-2 pull-right">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger"><i class="fa fa-trash-o"></i>Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            {% endif %}

        </div>

    {% endfor %}
</div>

{% if user.is_superuser %}

<hr />

<form role="form" method="post" action='{% url "add_image" %}' enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-group">
        <label for="id_description">Description</label>
        <input id="id_description" maxlength="64" name="description" type="text" class="form-control" required>
    </div>

    <input type="file" id="file-input" name="image" style="display: none;">
    <div class="input-group" style="padding-bottom:20px;">
        <span class="input-group-btn">
            <button class="btn btn-primary" type="button" onclick="$('#file-input').click();" style="width: 75px;">　<i class="fa fa-folder-open-o fa-lg"></i>　</button>
        </span>
        <input id="cover" type="text" class="form-control" placeholder="Select file..." required>
    </div>

    <script>
        $('#file-input').change(function() {
            $('#cover').val($(this).val());
        });
    </script>

    <div class="form-group">
        <button type="submit" class="btn btn-success" style="width: 75px;"><i class="fa fa-save"></i>Save</button>
    </div>

    <input type="hidden" name="user" value="{{user.id}}" id="id_user" />
</form>

{% endif %}

{% endblock %}
